body{
    /* margin: auto; */
    background: linear-gradient(to top right, lightseagreen, violet);
}

h1 {
    color: white;
    font-style: normal;
}

.container {
    width: 100%;
    background: transparent;
}

#query {
    text-align: center;
}

#query:focus {
    background: lightcyan;
    text-align: center;
}

label {
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.row {
    margin-bottom: 10px;
}

.control-label {
    margin: auto;
}

form {
    background-color: transparent;
    padding: 10px 10px 10px 10px;
}

.btn {
    border-radius: 100px;
}

.btn:hover {
    box-shadow: 1px 1px 1px lightblue;
}
#header {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#header > h1 {
    display:inline;
    color: black;
    text-align:center;
}

#footer {
    bottom: 0;
    text-align: center;
    color : rgb(5, 3, 97);
}

.col-sm-10 {
    max-width: none;
}
