body{
    /* margin: auto; */
    /*background: linear-gradient(to right, lightseagreen, violet);*/
    background-image: linear-gradient(45deg, rgba(247,12,12,1) 0%,
                                             rgba(94,65,240,1) 25%,
                                             rgba(88,203,209,1) 50%,
                                             rgba(124,227,95,1) 75%,
                                             rgba(223,242,12,1) 100%);
    min-height: 100%;
}

h1 {
    color: white;
    font-style: normal;
    font-weight: bold;
    /*font-family: ;*/
    text-align: center;
}

.container {
    width: 100%;
    background: transparent;
}

#query {
    text-align: center;
}

#query:focus {
    background: lightcyan;
    text-align: center;
}

label {
    width: 100%;
    margin: auto;
    font-size: 20px;
}

.row {
    margin-bottom: 10px;
}

.control-label {
    margin: auto;
}

form {
    background-color: transparent;
    padding: 10px 10px 10px 10px;
}

.btn {
    border-radius: 100px;
}

.btn:hover {
    box-shadow: 1px 1px 1px lightblue;
}
#header {
    padding-top: 1em;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#header > h1 {
    display:inline;
    color: black;
    text-align:center;
}

#footer {
    bottom: 0;
    text-align: center;
    color : rgb(5, 3, 97);
}

.col-sm-10 {
    max-width: none;
}

#show-grades {
    visibility:hidden;
}
#invalid-code {
    /* position: relative; */
    left: 300px;
    visibility:hidden;
}
#no-data {
    /* position: relative; */
    left: 50px;
    visibility:hidden;
}
