<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style.css')}}" />
        <title>Reaper Home</title>
    </head>
    
    <body class = "background_">
        <div class="wrapper">
            <div class="one">
                <img src="{{ url_for('static', filename='Reaper_pic.png') }}">
            </div>

            <div class="two">
                <h1>INVALID CODE! , click <a href= "/">here</a> to go back</h1>
            </div>
        </div>
    </body>
</html>