<!DOCTYPE html>

<html>
    <head>
        <meta charset = "UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="shortcut icon" href="{{url_for('static', filename = 'favicon.ico')}}" />
        <title>Kronos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
        integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
        crossorigin="anonymous">
        <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename = 'style.css')}}">
    </head>

    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

        <div id="header">
            <h1>Kronos - the gradekeeper</h1>
        </div>

        <div class="container">
            <form class="form-horizontal" method="POST" autocomplete="off">
                <div class="form-group">
                    <div class="col-sm-10">
                        <input
                            type = "text"
                            id = "query"
                            class="form-control"
                            placeholder = "Enter course code here"
                            name = "getCode"
                            list="courses_valid"
                        >
                        <datalist id ="courses_valid">
                            {% for c in courses %}
                                <option value="{{c}}"></option>
                            {% endfor %}
                        </datalist>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type = "submit" class="btn btn-primary btn-block" name = "search" id = "submit_button" onclick="myFunction({{result}})">
                    </div>
                </div>

                <div id="show-grades" style="visibility:hidden">
                    <canvas id = "line-chart" width="600" height="300"></canvas>
                </div>
                <div id="invalid-code" style="position: relative; left: 300px; visibility:hidden">
                    <h1>INVALID CODE!</h1>
                </div>
                <div id="no-data" style="position: relative; left: 50px; visibility:hidden">
                    <h1>Sorry, no data available for that coursecode</h1>
                </div>

            </form>
        </div>

        <div id="footer">
            This project was developed under <a href="https://metakgp.github.io/"><u>metakgp</u></a>, to see more projects like this <a href="https://github.com/metakgp"><u>click here</u></a>
        </div>

        <script>
            /*function hide_blocks(display_id){
                var x = document.getElementById(display_id);
                x.style.visibility = "visible";
                x.style.display = "none";
            }
            */
            function show_blocks(display_id){
                var x = document.getElementById(display_id);
                x.style.visibility = "visible";
                x.style.display = "block";
            }
            display_id = "{{result}}";

            show_blocks(display_id);

        </script>

        <!--FOR CHART-->
        <script>
                    window.chartColors = [
                "#00ffff",
                "#f0ffff",
                "#f5f5dc",
                "#000000",
                "#0000ff",
                "#a52a2a",
                "#00ffff",
                "#00008b",
                "#008b8b",
                "#a9a9a9",
                "#006400",
                "#bdb76b",
                "#8b008b",
                "#556b2f",
                "#ff8c00",
                "#9932cc",
                "#8b0000",
                "#e9967a",
                "#9400d3",
                "#ff00ff",
                "#ffd700",
                "#008000",
                "#4b0082",
                "#f0e68c",
                "#add8e6",
                "#e0ffff",
                "#90ee90",
                "#d3d3d3",
                "#ffb6c1",
                "#ffffe0",
                "#00ff00",
                "#ff00ff",
                "#800000",
                "#000080",
                "#808000",
                "#ffa500",
                "#ffc0cb",
                "#800080",
                "#800080",
                "#ff0000",
                "#c0c0c0",
                "#ffff00"
            ];

            var gradesdist = {{Grades|safe}};
            var chart_grades_data = [];
            var dataset = [];

            for (x in gradesdist)
            {
                dataset.push(x);
            }
            dataset.sort();
            dataset.reverse();

            for (var i =0; i<dataset.length; i++)
            {
                var x =  dataset[i];

                this_sem = {};
                this_sem ["label"] = x;
                this_sem ["fill"] = false;
                var index = Math.floor((Math.random() * 43))
                this_sem ["borderColor"] = window.chartColors[index];

                grades_ordered = [];
                grades_ordered.push(gradesdist[x]["EX"]);
                grades_ordered.push(gradesdist[x]["A"]);
                grades_ordered.push(gradesdist[x]["B"]);
                grades_ordered.push(gradesdist[x]["C"]);
                grades_ordered.push(gradesdist[x]["D"]);
                grades_ordered.push(gradesdist[x]["P"]);
                grades_ordered.push(gradesdist[x]["F"]);
                this_sem ["data"] = grades_ordered;

                chart_grades_data.push(this_sem);
            }
            var chart_data = {labels: ['EX','A','B','C','D','F','P']};
            chart_data["data"] = chart_grades_data;

            new Chart(document.getElementById("line-chart"), {
                type: 'line',
                data: {
                    labels: ['EX','A','B','C','D','P','F'],
                    datasets: chart_grades_data
                },
                options: {
                    responsive: true,
                    title: {
                        display: true,
                        text: '{{courseCode}}',
                        fontSize: 20,
                        fontColor: 'black',
                    },
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'Grades',
                                fontColor: 'black',
                                fontSize: 20
                            },
                            ticks: {
                                fontColor: 'black',
                                fontSize: 15
                            },
                        }],
                        yAxes: [{
                            display: true,
                            scaleLabel: {
                                display: true,
                                labelString: 'No. of students',
                                fontColor: 'black',
                                fontSize: 20
                            },
                            ticks: {
                                fontColor: 'black',
                                fontSize: 15
                            },

                        }]
                    },
                    legend: {
                        labels: {
                            fontColor: 'black',
                            fontSize: 20
                        }
                    }
                }
            });
        </script>
    </body>
</html>
